.App {
  text-align: center;
  position:relative;
  align-self: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#display{
  background-color:white;
  justify-content: space-between;
  max-width: 50%;
  padding: 10px 10px;
  background-color: white;
  border: 5px solid gray;
}

.drum-pad{
  font-size: 3rem;
  margin:10px;
  border-radius:10%;
  height: 30%;
  width: 30%;
}