.App {
  text-align: center;
  position:relative;
}


#display{
  margin-top: 20%;
  justify-content: space-between;
  max-width: 100%;
  padding: 10px 10px;
  background-color: rgba(200 200 190);
  box-shadow: 0px 0px 0px 8px rgba(120 120 190);
}

.drum-pad{
  font-size: 3rem;
  margin:10px;
  border-radius:10%;
  height: 30%;
  width: 30%;
  box-shadow: 0 5px #666;
}

.drum-pad:hover:focus{
  font-size: 2.8rem;
  background-color: rgba(120 120 190);
  box-shadow: 0 2px #666;
  border-color: black;
  transform: translateY(4px);
}

.drum-pad:focus{
  font-size: 2.8rem;
  background-color: rgba(170 120 190);
  box-shadow: 0 2px #666;
  border-color: black;
  transform: translateY(4px);
}